@charset "utf-8";
/* CSS Document*/
*{
	box-sizing: border-box;
}
body{
	/*background-color:#f6f5f5;*/
	background:rgb(29 54 87);
	margin:0px;
	padding:0px;
	font-family:verdana;
}


ul{
	list-style:none;
}

a{
	text-decoration:none;
}
section{
	width:100%;
	height:100px;
	/*background:url('../images/background.jpeg')no-repeat;*/
    background-size: cover;
	position:relative;
}
.toggle1{
	display:none;
}
nav{
	display:flex;
	justify-content:space-between;
	align-items: centre;
	height:60px;
	background-color: #ffffff;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding:0px 5%;

}
nav ul{
	display:flex;
}

nav ul li a{
	margin:30px;
	/*font-family: myraid pro regular;*/
	color:#505050;
	font-size:15px;
	font-weight: 700;
}
nav ul li a:hover{
	color: blue;
}
.logo{
	font-family:Roadtest;
	color:#000000;
	font-size:22px;
}
.active{
	font-weight:bold;
	color:2d2a2a;
}

.box-1,.box-3, .box-4, .box-5, .box-6{
    width: 400px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
   
}

.row1{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.row2{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}


.box-1{
    background-image: url('../images/1-.jpg');
    background-size: cover;
  }

.box-3{
    background-image: url('../images/2-.jpg');
    background-size: cover;
}
.box-4{
    background-image: url('../images/3-.jpg');
    background-size: cover;
}
.box-5{
    
    background-image: url('../images/4-.jpg');
    background-size: cover;

}
.box-6{
    background-image: url('../images/5-.jpeg');
   
    background-size: cover;
}


.box-1 span, .box-3 span, .box-4 span,.box-5 span, .box-6 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.box-1 p:nth-child(2),

.box-3 p:nth-child(2),
.box-4 p:nth-child(2),
.box-5 p:nth-child(2),
.box-6 p:nth-child(2){
    color: Black;
    font-size: 23px;
    font-weight: bolder;
}
.box-1 p:nth-child(3),

.box-3 p:nth-child(3),
.box-4 p:nth-child(3),
.box-5 p:nth-child(3),
.box-6 p:nth-child(3)

{
    color: yellow;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
    font-weight:bold;
}
.box-1 button, .box-2 button, .box-3 button, .box-4 button, .box-5 button, .box-6 button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}

footer{
   width:100%;
   height:200px;
   background-color:black;
   font-size:18px;
   color:white;
  
   text-align: center;
}
 
 @media(max-width:1000px)
 {
    *{
    	box-sizing:border-box;

    }
    .container{
    	padding:2% 5% 0px 5%;

    }
    .row1, .row2{
      justify-content: center;
      flex-wrap:wrap;   	
    }

    .container{
    	height:auto;
    }

    .box-1,.box-3, .box-4, .box-5, .box-6{
    	flex-grow:1;
    	margin:10px;
    }
}


@media(max-width:500px){

.container{
    	padding:2% 5% 0px 5%;

    }
    .row1, .row2{
      justify-content: center;
      flex-wrap:wrap;   	
    }

    .container{
    	height:auto;
    }

    .box-1,.box-3, .box-4, .box-5, .box-6{
    	flex-grow:1;
    	margin:10px;
    }
 .toggle{
 	display:block;
 }

 nav ul{
 	margin:0px;
 	padding:0px;
 	background-color: white;
 	flex-direction:column;
 	position:fixed;
 	left:0;
 	top:0;
 	width:100%;
 	height:100px;
 	box-sizing:border-box;
 	display:flex;
 	justify-content: center;
 	align-items: center;
 	z-index:1;
 	display:none;
 }
 nav ul li{
 	padding:10px;

 }

 nav ul li a{
 	font-size:1.4em;
 	text-transform: uppercase;
 	color:#5c5c5c;
 }

 nav ul li a:hover{
 	color:blue;
 }

.toggle:before{
	content: '\f0c9';
	font-family:fontAwesome;
	line-height: 30px;
	z-index: 1;
}

.toggle.active:before{
	content:'\f00d';
	position:fixed;
	right:25px;
	line-height:0px;
}
nav.active ul{
	display:flex !important;
}

.container{
	top:0px;
	flex-direction:column;
	width:90%;
    height:auto;
    padding:30 px 0px;
    align-items: center;
}

}



 





